.navigation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style: none;
  text-decoration: none;
  text-decoration-line: none;

  color: black;
  background-color: rgb(219, 235, 197);
}

.navigation a {
  color: black;
  text-decoration: none;
}
