.code {
  color: var(--color-sage-dark);
}

.main_button {
  background-color: var(--color-green-button);
}

.main_button:hover {
  color: var(--color-green-button);
  background-color: var(--color-wood);
}
